header {
  position: relative;
  z-index: 2;
  height: 58px;
  width: 100%;

  box-shadow: 0px 3px 6px 0px #cfcfcf;
  background-color: $white;

  .logo {
    padding: 20px 0px 0px 0px;
    height: 26px;
  }
}

footer {
  padding: 26px 19px 20px 24px;
  background-color: $footer_background-color;
  color: white;

  .footer__elements__bold {
    margin-bottom: -15px;

    font-family: "Shrikhand";
    font-size: 1.6em;
    line-height: 1.6;
  }
  a {
    color: white;
  }
  .fa-ul {
    margin-left: 25px;

    line-height: 1.4;
    font-size: 1em;

    .fa-ul li {
      padding-left: 5px;
    }
    .footer__list__no-puce {
      list-style: none;
      margin-left: -25px;
    }
  }
}

@media screen and (min-width: 650px) {
  header {
    height: 65px; /**/

    .logo {
      height: 35px;
    }
  }
}

@media screen and (min-width: 800px) {
  header {
    height: 80px; /**/

    .logo {
      height: 50px;
    }
  }
  footer {
    &_elements_bold {
      font-size: 1.8em;
    }
    a {
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 1200px) {
  footer {
    .footer-content {
      margin: 0 auto;
      display: flex;
    }

    display: flex;
    margin: auto;
    padding: 10px 0px 15px 0px;

    width: 100%;
    & li {
      display: inline;
      padding: 0px 90px 0px 0px;
      line-height: 1.8;
    }
    & span {
    }
  }
  .footer_elements_bold {
    padding: 15px 120px 0px 80px;
  }
}
