@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes slideInUp {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 25px 8px #99e2d0;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 25px 6px #ff79da;
  }
}
@keyframes loadingPage_animation {
  from {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}
.loadingPage {
  position: fixed;
  z-index: -42;
  width: 100%;
  height: 100vh;
  background-color: #9356dc;
  opacity: 0;
  animation: loadingPage_animation 3s;
}

.loadingPage__spinner {
  width: 30px;
  height: 30px;
  margin: 350px auto;
  border: 11px double white;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 6px #9356dc;
  animation: loader 2.5s linear infinite;
}

body {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: white;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h3,
h4,
h5,
p {
  margin: 0;
}

h2 {
  margin: 0 0 20px 0;
}

.heart-solid-container {
  display: none;
}

.heart-container:hover .heart-solid-container {
  display: inline;
  padding: 5px 1px 0 1px;
  /*eviter le coeur qui se coupe au hover*/
  transition: ease 2s;
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "";
}
.heart-container:hover .heart-empty-container {
  display: none;
  padding: 5px 1px 0 1px;
  /*eviter le coeur qui se coupe au hover*/
}

.goback {
  position: absolute;
  top: 20px;
  left: 25px;
  color: #353535;
  font-size: 4.4vw;
}

@media screen and (min-width: 500px) {
  .goback {
    top: 17px;
    font-size: 4.2vw;
  }
}
@media screen and (min-width: 650px) {
  .goback {
    top: 17px;
    font-size: 4.1vw;
  }
}
@media screen and (min-width: 800px) {
  .goback {
    top: 23px;
    left: 35px;
    font-size: 4.1vw;
  }
}
@media screen and (min-width: 1000px) {
  .goback {
    top: 18px;
    font-size: 3.8vw;
  }
}
@media screen and (min-width: 1200px) {
  .goback {
    top: 18px;
    font-size: 40px;
  }
}
header {
  position: relative;
  z-index: 2;
  height: 58px;
  width: 100%;
  box-shadow: 0px 3px 6px 0px #cfcfcf;
  background-color: #ffffff;
}
header .logo {
  padding: 20px 0px 0px 0px;
  height: 26px;
}

@media screen and (min-width: 650px) {
  header {
    height: 65px;
    /**/
  }
  header .logo {
    height: 35px;
  }
}
@media screen and (min-width: 800px) {
  header {
    height: 80px;
    /**/
  }
  header .logo {
    height: 50px;
  }
}
footer {
  padding: 26px 19px 20px 24px;
  background-color: #353535;
  color: white;
}
footer .footer__elements__bold {
  margin-bottom: -15px;
  font-family: "Shrikhand";
  font-size: 1.6em;
  line-height: 1.6;
}
footer a {
  color: white;
}
footer .fa-ul {
  margin-left: 25px;
  line-height: 1.4;
  font-size: 1em;
}
footer .fa-ul .fa-ul li {
  padding-left: 5px;
}
footer .fa-ul .footer__list__no-puce {
  list-style: none;
  margin-left: -25px;
}

@media screen and (min-width: 800px) {
  footer__elements__bold {
    font-size: 1.8em;
  }
  footer a {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    margin: auto;
    padding: 10px 0px 15px 0px;
    width: 100%;
  }
  footer .footer__content {
    margin: 0 auto;
    display: flex;
  }
  footer li {
    display: inline;
    padding: 0px 70px 0px 0px;
    line-height: 1.8;
  }
  .footer__elements__bold {
    padding: 15px 80px 0px 80px;
  }
}
h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

.localisation {
  display: flex;
  height: 46px;
  /*justify-content: center;
  align-items: center;*/
  background-color: #eaeaea;
}
.localisation_bar {
  margin: 0 auto;
  padding: 15px 0;
}
.localisation i {
  color: #353535;
}
.localisation .searchBar {
  padding: 0 0 0 15px;
  width: 150px;
  color: #353535;
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  border: none;
}

.fonctionnement,
.presentation {
  padding: 41px 19px 42px 19px;
  display: flex;
  flex-direction: column;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
}
.presentation a {
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
  margin: 35px auto;
  font-size: 1rem;
}

.fonctionnement {
  background-color: #ffffff;
}
.fonctionnement .fonctionnement__mosaic__bloc {
  font-weight: 500;
  position: relative;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.05);
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px;
  margin: 25px auto;
  text-align: center;
  max-width: 350px;
}
.fonctionnement .fonctionnement__mosaic__bloc .icon__number {
  position: absolute;
  background-color: #9356dc;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: -10px;
  text-align: center;
  line-height: 22px;
}
.fonctionnement .fonctionnement__mosaic__bloc .icon__number span {
  font-size: 0.9em;
  color: white;
}
.fonctionnement .fonctionnement__mosaic__bloc .fonctionnement__text i {
  margin: 0 32px 0 0;
}
.fonctionnement .fonctionnement__mosaic__bloc:hover {
  background-color: #f5edff;
}
.fonctionnement .fonctionnement__mosaic__bloc:hover > i {
  color: #9356dc;
}

.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 12px 64px 12px;
  background-color: #f6f6f6;
}
.restaurants__wrapper h2 {
  margin: 0;
  padding: 0px 0px 15px 0px;
}
.restaurants__wrapper .restaurants__mosaic__cards {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.05);
}
.restaurants__wrapper .restaurants__mosaic__cards img {
  height: 173px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__wrapper .restaurants__mosaic__cards .restaurants__cards__newtag {
  z-index: 2;
  position: absolute;
  padding: 10px 10px 10px 10px;
  top: 13px;
  right: 11px;
  width: 79px;
  border-radius: 5px;
  background-color: #99e2d0;
  text-align: center;
  color: #008766;
}
.restaurants__wrapper .restaurants__mosaic__cards .restaurants__mosaic__cards__text {
  padding: 15px 0px 15px 14px;
  margin: 0;
}
.restaurants__wrapper .restaurants__mosaic__cards .cards_heart_container {
  position: absolute;
  bottom: 32px;
  right: 16px;
}

@media screen and (min-width: 500px) {
  .aside__container {
    padding: 50px 19px 19px 21px;
  }
  .aside__container h1 {
    padding: 0px 15% 20px 12%;
  }
  .aside__container p {
    padding: 13px 0px 15px 8px;
  }
}
@media screen and (min-width: 650px) {
  .localisation {
    height: 50px;
  }
  .localisation .searchBar::placeholder {
    color: #353535;
  }

  .cards_heart_container i {
    font-size: 2em;
  }
}
@media screen and (min-width: 800px) {
  .presentation__wrapper {
    display: flex;
    gap: 10px;
  }

  .presentation {
    background-color: white;
    margin: 35px 0 0 0;
  }

  .fonctionnement h2 {
    text-align: center;
  }

  .localisation {
    height: 60px;
  }
  .localisation i {
    margin-left: 140px;
    font-size: 1.5em;
  }
  .localisation .searchBar {
    width: 350px;
    font-size: 1.2em;
  }
  .localisation .searchBar::placeholder {
    color: #353535;
    font-size: 1.2em;
  }

  .asideLeft {
    width: 50%;
  }

  .asideRight {
    width: 50%;
  }

  .restaurants__mosaic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__mosaic__cards {
    width: 49%;
  }
  .restaurants__mosaic__cards img {
    height: 185px;
  }
  .restaurants__mosaic__cards .restaurants__cards__newtag {
    width: 100px;
  }
  .restaurants__mosaic__cards .restaurants__cards__newtag span {
    font-size: 1.2em;
  }
  .restaurants__mosaic__cards .cards_heart_container {
    position: absolute;
    bottom: 32px;
    right: 25px;
  }
  .restaurants__mosaic__cards .cards_heart_container i {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants__cards__newtag {
    width: 125px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
  }

  span {
    font-size: 19px;
  }

  .presentation__wrapper,
.restaurants__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  .presentation__wrapper {
    justify-content: space-around;
    padding: 28px 100px;
  }

  .localisation {
    height: 60px;
  }
  .localisation i {
    margin-left: 90px;
    font-size: 22px;
  }
  .localisation .searchBar {
    padding-left: 19px;
    font-size: 26px;
  }
  .localisation .searchBar::placeholder {
    font-size: 26px;
  }

  .asideLeft {
    width: 38%;
  }

  .aside__container a {
    font-size: 26px;
  }
  .aside__container h1 {
    padding-bottom: 50px;
  }
  .aside__container p {
    padding-bottom: 50px;
  }

  .asideRight {
    width: 38%;
  }

  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .fonctionnement__mosaic__bloc {
    font-weight: 400;
    width: 100%;
  }

  .restaurants__wrapper {
    padding: 30px 40px;
  }
  .restaurants__wrapper h2 {
    padding: 0px 20px 20px;
  }
  .restaurants__wrapper .restaurants__mosaic__cards {
    width: 24%;
    margin-bottom: 0px;
  }
}
.card {
  z-index: 1;
}
.card h1 {
  font-size: 1.6em;
}
.card h4 {
  font-size: 1em;
}
.card p {
  font-size: 1em;
}
.card_img {
  height: 260px;
  object-fit: cover;
}
.card__menu {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 30px 12px 57px 12px;
  margin-top: -50px;
  box-sizing: border-box;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: white;
}
.card__topLine {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 8px;
  align-items: center;
  font-family: "Shrikhand";
}
.card__categories {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 0px 0px;
}
.card__categories__title {
  position: relative;
  margin: 0px 0px 25px 0px;
}
.card__categories__underline {
  position: absolute;
  width: 40px;
  bottom: -9px;
  border-top: 3px solid #99e2d0;
}

.btn__menu__meals {
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 9px;
  position: relative;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 15px;
}

.typo__menu__price {
  margin: 20px 0 0 10px;
  background-color: yellow;
}

.bloc__menu__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.bloc__validation__animation {
  position: absolute;
  z-index: 2;
  right: -15%;
  text-align: center;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 15%;
  height: 100%;
  transition: all 0.5s ease;
}
.bloc__validation__animation .icon__animation {
  margin: 1.3rem auto 0 auto;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  color: white;
}

.bloc__text__animation {
  z-index: 3;
  border-radius: 15px;
  background-color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.btn__menu__meals:hover .bloc__text__animation {
  width: 80.5%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn__menu__meals:hover .bloc__validation__animation {
  border: none;
  right: 0%;
  width: 15%;
}
.btn__menu__meals:hover .icon__animation {
  display: block;
  margin: 1.3rem auto 0 auto;
  transform: rotate(3turn);
}

.order__btn {
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
  margin: 35px auto;
  display: flex;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

input[type=checkbox] {
  display: none;
}

@media screen and (min-width: 500px) {
  .card .fa-heart {
    font-size: 1.7em;
  }

  .order__button {
    margin: 60px auto 35px;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 650px) {
  .card h1 {
    font-size: 1.6em;
  }
  .card__topLine {
    padding: 0px 20px;
  }
  .card .fa-heart {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 800px) {
  .card h1 {
    font-size: 1.9em;
  }
  .card img {
    height: 380px;
  }
  .card__topLine {
    padding: 10px 30px 0px;
  }
  .card__categories {
    padding: 40px 15px 0px;
  }
  .card .fa-heart {
    font-size: 2em;
  }

  .order__button {
    margin: 90px auto 35px;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  .card h1 {
    font-size: 2.2em;
  }
  .card img {
    height: 400px;
  }
  .card__topLine {
    padding: 26px 40px 0px;
  }
  .card__categories {
    padding: 40px 15px 0px;
  }
  .card__categories__title {
    margin: 0px 0px 40px 0px;
  }
  .card .fa-heart {
    font-size: 2.3em;
  }

  .order__button {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    max-width: 1400px;
    margin: 0 auto;
  }
  .card h1 {
    padding-right: 50px;
  }
  .card p {
    font-size: 19px;
  }
  .card img {
    height: 400px;
  }
  .card__topLine {
    justify-content: flex-start;
  }
  .card .line__layout {
    display: flex;
    justify-content: space-around;
  }
  .card__categories {
    padding: 40px 0px 0px;
    width: 31%;
  }
  .card__categories__title {
    margin: 0px 0px 40px 0px;
  }

  .fa-heart {
    font-size: 2.3em;
  }
}

/*# sourceMappingURL=style.css.map */
