@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

p {
  font-size: 4.5vw;
}

.heart-solid-container {
  display: none;
}

.heart-container:hover .heart-solid-container {
  display: inline;
  display: block;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "";
}
.heart-container:hover .heart-empty-container {
  display: none;
}

header {
  position: relative;
  height: 62px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 3px 6px 0px #cfcfcf;
}
header .logo {
  padding-top: 20px;
  height: 28px;
}

footer {
  padding: 26px 19px 20px 24px;
  background-color: #353535;
  color: white;
}
footer .footer_elements_bold {
  font-family: "Shrikhand";
  font-size: 5vw;
}
footer a {
  color: white;
}
footer .fa-ul {
  margin-left: 25px;
  line-height: 1.8;
}
footer .fa-ul .fa-ul li {
  padding-left: 5px;
}
footer .fa-ul .footer_list_no-puce {
  list-style: none;
  margin-left: -25px;
}

.localisation {
  background-color: #eaeaea;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation i {
  color: #353535;
}
.localisation .search-bar {
  font-size: 4vw;
  width: 37%;
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 15px;
  padding: 0;
}
.localisation .search-bar::placeholder {
  color: #353535;
  font-size: 4vw;
  font-weight: 600;
}

.presentation {
  background-color: #f6f6f6;
  padding: 44px 19px 57px 19px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.presentation h1 {
  font-size: 6vw;
  padding: 0px 12% 0% 12%;
  margin: 0;
}
.presentation p {
  padding-top: 23px;
}
.presentation a {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  margin: auto;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.06);
  margin-top: 30px;
  padding: 18px 0px;
  width: 218px;
}

.fonctionnement {
  background-color: #ffffff;
  padding: 53px 19px 42px 19px;
}
.fonctionnement h2 {
  margin: 0;
  padding: 0px 0px 30px 0px;
}
.fonctionnement .fonctionnement_mosaic {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.fonctionnement .fonctionnement_bloc {
  font-size: 4.25vw;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.06);
  background-color: #f6f6f6;
  margin: 0px 0px 26px 10px;
  height: 75px;
  width: 96.5%;
  border-radius: 25px;
  align-items: center;
  position: relative;
}
.fonctionnement .fonctionnement_bloc .fonctionnement_numero {
  position: absolute;
  background-color: #9356DC;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  left: -10px;
  text-align: center;
  line-height: 23px;
}
.fonctionnement .fonctionnement_bloc .fonctionnement_numero span {
  color: white;
}
.fonctionnement .fonctionnement_bloc i, .fonctionnement .fonctionnement_bloc .fonctionnement_bloc_text {
  margin: 0px 0px 0px 30px;
}
.fonctionnement .fonctionnement_bloc:hover {
  background-color: #f5edff;
}
.fonctionnement .fonctionnement_bloc:hover > i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 58px 19px 64px 19px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  margin: 0;
  padding: 0px 0px 30px 0px;
}
.restaurants .restaurants_mosaic_cards {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 15px;
}
.restaurants .restaurants_mosaic_cards img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 173px;
  object-fit: cover;
}
.restaurants .restaurants_mosaic_cards .restaurants_mosaic_newtag {
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 11px;
  width: 79px;
  border-radius: 5px;
  color: #008766;
  background-color: #99e2d0;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.restaurants .restaurants_mosaic_cards .restaurants_mosaic_cards_text {
  padding: 15px 0px 15px 14px;
  margin: 0;
}
.restaurants .restaurants_mosaic_cards .cards_heart_container {
  position: absolute;
  bottom: 32px;
  right: 16px;
}

.goback {
  position: absolute;
  top: 22px;
  left: 25px;
  color: #353535;
}

.menu_img {
  height: 260px;
  object-fit: cover;
}
.menu_carte {
  box-sizing: border-box;
  padding: 40px 12px 57px 12px;
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: white;
}
.menu_carte-top-align {
  align-items: center;
  padding: 5px 25px 0px 0px;
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
}
.menu_categories {
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.menu_categories_title {
  position: relative;
  margin: 0px 0px 25px 0px;
}
.menu_categories_underline {
  position: absolute;
  bottom: -9px;
  border-top: 3px solid #99E2D0;
  width: 40px;
}
.menu_block {
  display: flex;
  margin: 0px 0px 15px 0px;
  background-color: white;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.menu_block_text {
  position: relative;
  width: 100%;
  padding: 10px 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_block_text p {
  font-size: 3.7vw;
}
.menu_block_price {
  position: absolute;
  right: 19px;
  bottom: 10px;
}
.menu_block_validation {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  background-color: #99E2D0;
  width: 19%;
  transform: scaleX(0);
  /*animation survol*/
  position: absolute;
  /*animation survol*/
  /* transition: all 2s; */
  /* :( */
}
.menu_block_validation i {
  padding-top: 22px;
  color: white;
}
.menu .menu_button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  margin: auto;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 40px;
  margin: 35px auto 15px auto;
  outline: none;
  border: none;
}

input[type=checkbox] {
  display: none;
  /*animation survol*/
  /*animation survol*/
  /*     &:hover:after + .menu_block_validation{
          position: static;
          transition: linear;
          transform: scaleX(1);
          transform-origin: 100% 0%;
          transition: transform .6s;
          background-color: red;
      }
      &:checked + .menu_block_validation{



      }
   */
}
input[type=checkbox]:hover + .menu_block_validation {
  position: static;
  transition: linear;
  transform: scaleX(1);
  transform-origin: 100% 0%;
  transition: transform 0.6s;
}

/*# sourceMappingURL=style.css.map */
