@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 25px 8px #99e2d0;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 25px 6px #ff79da;
  }
}
@keyframes loadingPage_animation {
  from {
    opacity: 1;
    z-index: 3;
  }
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}
.loadingPage {
  position: fixed;
  z-index: -42;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 0;
  animation: loadingPage_animation 3s;
}

.loadingPage__spinner {
  width: 30px;
  height: 30px;
  margin: 350px auto;
  border: 11px double white;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 6px #9356dc;
  animation: loader 2.5s linear infinite;
}

body {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: white;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h3,
h2,
h4,
h5,
p {
  margin: 0;
}

h2 {
  padding: 0px 0px 25px 0px;
}

.typo__bold {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.9rem;
}
.typo__light {
  font-weight: 300;
  font-size: 1rem;
}
.typo__price {
  margin: 32px 0 0 5px;
  font-size: 0.95rem;
  font-weight: 600;
}

/*heart icon and hover*/
.fa-heart {
  font-size: 1.8rem;
}

.container__heart {
  position: relative;
}

.heart__empty {
  position: absolute;
  -webkit-text-stroke: 1px white;
  transition: 0.5s ease;
}
.heart__solid {
  opacity: 0;
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease-in;
}

.container__heart:hover .heart__solid {
  opacity: 1;
}
.container__heart:hover .heart__empty {
  opacity: 0;
}

.goback {
  position: absolute;
  top: 20px;
  left: 25px;
  color: #353535;
  font-size: 4.4vw;
}

@media screen and (min-width: 500px) {
  .goback {
    top: 17px;
    font-size: 4.2vw;
  }
}
@media screen and (min-width: 650px) {
  .goback {
    top: 17px;
    font-size: 4.1vw;
  }
}
@media screen and (min-width: 800px) {
  .goback {
    top: 23px;
    left: 35px;
    font-size: 4.1vw;
  }
}
@media screen and (min-width: 1000px) {
  .goback {
    top: 18px;
    font-size: 3.8vw;
  }
}
@media screen and (min-width: 1200px) {
  .goback {
    top: 18px;
    font-size: 40px;
  }
}
/*order button on menu pages*/
.btn__order {
  display: flex;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
  margin: 35px auto;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn__order:hover {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.3);
}

header {
  position: relative;
  z-index: 2;
  height: 58px;
  width: 100%;
  box-shadow: 0px 3px 6px 0px #cfcfcf;
  background-color: #ffffff;
}
header img {
  padding: 20px 0px 0px 0px;
  height: 26px;
}

@media screen and (min-width: 650px) {
  header {
    height: 65px;
    /**/
  }
  header img {
    height: 35px;
  }
}
@media screen and (min-width: 800px) {
  header {
    height: 80px;
    /**/
  }
  header img {
    height: 50px;
  }
}
footer {
  padding: 26px 19px 20px 24px;
  background-color: #353535;
  color: white;
}
footer .footer__elements__bold {
  margin-bottom: -15px;
  font-family: "Shrikhand";
  font-size: 1.6em;
  line-height: 1.6;
}
footer a {
  color: white;
}
footer .fa-ul {
  margin-left: 25px;
  line-height: 1.4;
  font-size: 1em;
}
footer .fa-ul .fa-ul li {
  padding-left: 5px;
}
footer .fa-ul .footer__list__no-puce {
  list-style: none;
  margin-left: -25px;
}

@media screen and (min-width: 800px) {
  footer__elements__bold {
    font-size: 1.8em;
  }
  footer a {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    margin: auto;
    padding: 10px 0px 15px 0px;
    width: 100%;
  }
  footer .footer__content {
    margin: 0 auto;
    display: flex;
  }
  footer li {
    display: inline;
    padding: 0px 70px 0px 0px;
    line-height: 1.8;
  }
  .footer__elements__bold {
    padding: 15px 80px 0px 80px;
  }
}
h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

.localisation {
  display: flex;
  height: 46px;
  /*justify-content: center;
  align-items: center;*/
  background-color: #eaeaea;
}
.localisation_bar {
  margin: 0 auto;
  padding: 15px 0;
}
.localisation i {
  color: #353535;
}
.localisation .searchBar {
  padding: 0 0 0 15px;
  width: 150px;
  color: #353535;
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  border: none;
}

.fonctionnement,
.presentation {
  padding: 41px 19px 42px 19px;
  display: flex;
  flex-direction: column;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
}
.presentation a {
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
  margin: 35px auto;
  font-size: 1rem;
  transition: 0.3s ease;
}
.presentation a:hover {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.3);
}

.fonctionnement {
  background-color: #ffffff;
}
.fonctionnement .fonctionnement__mosaic__bloc {
  position: relative;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  border-radius: 15px;
  cursor: pointer;
  padding: 25px;
  margin: 25px auto;
  text-align: center;
  max-width: 350px;
  font-weight: 500;
  transition: 0.5s ease;
}
.fonctionnement .fonctionnement__mosaic__bloc .icon__number {
  position: absolute;
  background-color: #9356dc;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: -10px;
  text-align: center;
  line-height: 22px;
}
.fonctionnement .fonctionnement__mosaic__bloc .icon__number span {
  font-size: 0.9em;
  color: white;
}
.fonctionnement .fonctionnement__mosaic__bloc .fonctionnement__text i {
  margin: 0 32px 0 0;
  transition: 0.5s ease;
}
.fonctionnement .fonctionnement__mosaic__bloc:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.fonctionnement .fonctionnement__mosaic__bloc:hover i {
  color: #9356dc;
}

.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 12px 64px 12px;
  background-color: #f6f6f6;
}
.restaurants__wrapper .restaurants__mosaic__cards {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}
.restaurants__wrapper .restaurants__mosaic__cards img {
  height: 173px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__wrapper .restaurants__mosaic__cards .restaurants__cards__newtag {
  z-index: 2;
  position: absolute;
  padding: 6px;
  top: 13px;
  right: 11px;
  width: 79px;
  border-radius: 3px;
  background-color: #99e2d0;
  text-align: center;
  color: #008766;
}
.restaurants__wrapper .restaurants__mosaic__cards .restaurants__cards__newtag span {
  font-size: 0.9rem;
  font-weight: 500;
}
.restaurants__wrapper .restaurants__mosaic__cards .restaurants__cards__bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.restaurants__wrapper .restaurants__mosaic__cards .restaurants__heart {
  padding: 10px 5px 5px 5px;
}

@media screen and (min-width: 500px) {
  .aside__container {
    padding: 50px 19px 19px 21px;
  }
}
@media screen and (min-width: 650px) {
  .localisation {
    height: 50px;
  }
  .localisation .searchBar::placeholder {
    color: #353535;
  }
}
@media screen and (min-width: 675px) {
  .presentation__wrapper {
    display: flex;
    gap: 10px;
  }

  .presentation {
    background-color: white;
    margin: 35px 0 0 0;
  }

  .fonctionnement h2 {
    text-align: center;
  }

  .localisation {
    height: 60px;
  }
  .localisation i {
    margin-left: 140px;
    font-size: 1.5em;
  }
  .localisation .searchBar {
    width: 350px;
    font-size: 1.2em;
  }
  .localisation .searchBar::placeholder {
    color: #353535;
    font-size: 1.2em;
  }

  .asideLeft {
    width: 50%;
  }

  .asideRight {
    width: 50%;
  }

  .restaurants__wrapper .restaurants__mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__wrapper .restaurants__mosaic__cards {
    width: 49%;
  }
  .restaurants__wrapper .restaurants__mosaic__cards img {
    height: 185px;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants__cards__newtag {
    width: 125px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
  }

  span {
    font-size: 19px;
  }

  .presentation__wrapper,
.restaurants__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  .presentation__wrapper {
    justify-content: space-around;
    padding: 28px 100px;
  }

  .localisation {
    height: 60px;
  }
  .localisation i {
    margin-left: 90px;
    font-size: 22px;
  }
  .localisation .searchBar {
    padding-left: 19px;
    font-size: 26px;
  }
  .localisation .searchBar::placeholder {
    font-size: 26px;
  }

  .asideLeft {
    width: 38%;
  }

  .aside__container a {
    font-size: 26px;
  }
  .aside__container h1 {
    padding-bottom: 50px;
  }
  .aside__container p {
    padding-bottom: 50px;
  }

  .asideRight {
    width: 38%;
  }

  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .fonctionnement__mosaic__bloc {
    font-weight: 400;
    width: 100%;
  }

  .restaurants__wrapper {
    padding: 30px 40px;
  }
  .restaurants__wrapper h2 {
    padding: 0px 20px 20px;
  }
  .restaurants__wrapper .restaurants__mosaic__cards {
    width: 24%;
    margin-bottom: 0px;
  }
}
.card {
  z-index: 1;
}
.card h1 {
  font-size: 1.6em;
}
.card__img {
  height: 260px;
  object-fit: cover;
}
.card__menu {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 30px 12px 57px 12px;
  margin-top: -50px;
  box-sizing: border-box;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: white;
}
.card__topLine {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 8px;
  align-items: center;
  font-family: "Shrikhand";
}
.card__categories {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 0px 0px;
}
.card__categories__title {
  position: relative;
  margin: 0px 0px 25px 0px;
}
.card__categories__underline {
  position: absolute;
  width: 40px;
  bottom: -9px;
  border-top: 3px solid #99e2d0;
}

.bloc {
  /*principal bloc menu*/
}
.bloc__menu {
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 9px;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}
.bloc__menu__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.bloc__text__animation {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  z-index: 3;
  border-radius: 15px;
  background-color: white;
  width: 100%;
  transition: all 1s ease;
  overflow: hidden;
}
.bloc__validation__animation {
  position: absolute;
  z-index: 2;
  right: -15%;
  text-align: center;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 15%;
  height: 100%;
  transition: all 1s ease;
}
.bloc__validation__animation .icon__animation {
  margin: 1.4rem auto 0 auto;
  font-size: 1.4rem;
  transition: all 1s ease;
  color: white;
}
.bloc__validation__animation input[type=checkbox] {
  display: none;
}

.bloc__menu:hover .bloc__text__animation {
  width: 75%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bloc__menu:hover .bloc__validation__animation {
  border: none;
  right: 0%;
  width: 15%;
}
.bloc__menu:hover .icon__animation {
  display: block;
  margin: 1.4rem auto 0 auto;
  transform: rotate(2turn);
}

.bloc__menu:nth-child(1n) {
  animation: slideInUp 0s;
}

.bloc__menu:nth-child(2n) {
  animation: slideInUp 0.75s;
}

.bloc__menu:nth-child(3n) {
  animation: slideInUp 1.4s;
}

.bloc__menu:nth-child(4n) {
  animation: slideInUp 2.1s;
}

.bloc__menu:nth-child(5n) {
  animation: slideInUp 2.85s;
}

@media screen and (min-width: 650px) {
  .card h1 {
    font-size: 1.6em;
  }
  .card__topLine {
    padding: 0px 20px 20px;
  }
  .card .line__layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }
  .card__categories {
    width: 49%;
    padding: 15px 0;
  }
  .card__categories__title {
    margin: 0px 0px 40px 0px;
  }
}
@media screen and (min-width: 800px) {
  .card h1 {
    font-size: 1.9em;
  }
  .card img {
    height: 380px;
  }
  .card__topLine {
    padding: 10px 30px 0px;
  }
}
@media screen and (min-width: 1000px) {
  .card h1 {
    font-size: 2.2em;
  }
  .card img {
    height: 400px;
  }
  .card .order__button {
    font-size: 1.5em;
  }
  .card__topLine {
    padding: 10px 40px;
  }
  .card .line__layout {
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    max-width: 1400px;
    margin: 0 auto;
  }
  .card h1 {
    padding-right: 50px;
  }
  .card p {
    font-size: 19px;
  }
  .card img {
    height: 400px;
  }
  .card__topLine {
    justify-content: flex-start;
  }
  .card__categories {
    padding: 40px 0px 0px;
    width: 31%;
  }
  .card__categories__title {
    margin: 0px 0px 40px 0px;
  }

  .bloc__validation__animation .icon__animation {
    margin: 1.3rem auto 0 auto;
    font-size: 1.5rem;
  }

  .bloc__menu:hover .bloc__validation__animation .icon__animation {
    margin: 1.3rem auto 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
