.goback {
  position: absolute;
  top: 20px;
  left: 25px;

  color: #353535;
  font-size: 4.4vw;
}

@media screen and (min-width: 500px) {
  .goback {
    top: 17px;

    font-size: 4.2vw;
  }
}

@media screen and (min-width: 650px) {
  .goback {
    top: 17px;

    font-size: 4.1vw;
  }
}
@media screen and (min-width: 800px) {
  .goback {
    top: 23px;
    left: 35px;

    font-size: 4.1vw;
  }
}
@media screen and (min-width: 1000px) {
  .goback {
    top: 18px;

    font-size: 3.8vw;
  }
}
@media screen and (min-width: 1200px) {
  .goback {
    top: 18px;

    font-size: 40px;
  }
}

/*order button on menu pages*/
.btn__order {
  display: flex;
  @include button-pink;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    @include box-shadow-hover;
  }
}
