.heart-solid-container{
    display: none;
}

.heart-container:hover{
    .heart-solid-container{
    display: block;
    @include heart-color;      

    }
    .heart-empty-container{
        display: none;
    }
}