.heart-solid-container{
    display: none;
}

.heart-container:hover{
    .heart-solid-container{
    display: inline;
    @include gradient-color-icon;  
    content: "\f004";    

    }
    .heart-empty-container{
        display: none;
    }
}