/*heart icon and hover*/

.fa-heart {
  font-size: 1.8rem;
}
.container__heart {
  position: relative;
}
.heart {
  &__empty {
    position: absolute;
    -webkit-text-stroke: 1px white;
    transition: 0.5s ease;
  }
  &__solid {
    opacity: 0;
    @include gradient-color-icon;
    transition: 0.4s ease-in;
  }
}

.container__heart:hover {
  .heart {
    &__solid {
      opacity: 1;
    }
    &__empty {
      opacity: 0;
    }
  }
}
