@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, p{
    margin: 0;
}


p{
    font-size: 4.5vw;
}