.localisation{
    background-color: $localisation-bar_background-color;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    & i{
        margin-left: 10px;
        margin-top: -1px;
        position: relative;
        color: #353535;
    }
    .search-bar{
        margin-left: 15px;

        font-size: 4vw;
        width: 37%;
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0;
        &::placeholder{
            color: #353535;
            font-size: 4vw;
            font-weight: 600;
        }
    }
}

.presentation{
    background-color: $grey;
    padding: 33px 19px 19px 21px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    h1{
        font-size: 6.35vw;
        padding: 0px 15% 0% 12%;
        margin: auto;
    }
    p{
        padding: 13px 0px 0px 8px;
    }
    a{
        @include button-pink;
        margin: 30px auto;
        padding: 14px 0px;
        width: 200px;
    }
}

.fonctionnement{
    background-color: $white;
    padding: 41px 12px 42px 19px;
    h2{
        font-size: 6.5vw;
        margin: 0;
        padding: 0px 0px 30px 0px;
    }
    .fonctionnement_mosaic{
        display: flex;
        flex-direction: column;
        margin-left:auto;
    }
    .fonctionnement_bloc{
        font-size: 4.25vw;
        font-weight: 500;
        @include div-squarred();
        .fonctionnement_numero{
            @include circle();
            span{
                font-size: 3.5vw;
                color: white;
            }
        }
        i, .fonctionnement_bloc_text{
            margin: 0px 0px 0px 32px;
        }
        &:hover {
            background-color: #f5edff;
            & > i{
                color: $primary-color;
            }
        }
    }
}

.restaurants{
    display: flex;
    flex-direction: column;
    padding: 35px 12px 64px 12px;
    background-color: $grey;
    h2{
        margin: 0;
        padding: 0px 0px 15px 0px;
    }
    .restaurants_mosaic_cards{
        position: relative;
        z-index: 1;
        background-color: $white;
        @include box-shadow;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        border-radius: 15px;

        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 173px;
            object-fit: cover;
        }
        .restaurants_mosaic_newtag{
            z-index: 2;
            position: absolute;
            top: 13px;
            right: 11px;
            width: 79px;
            border-radius: 5px;
            color: #008766;
            background-color: #99e2d0;
            text-align: center;
            padding: 10px 10px 10px 10px;
        }
        .restaurants_mosaic_cards_text{
            padding: 15px 0px 15px 14px;
            margin: 0;
        }
        .cards_heart_container{
            position: absolute;
            bottom: 32px;
            right: 16px;
        }

    }

}