h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

.localisation {
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;

  background-color: $localisation-bar_background-color;

  & i {
    margin-left: 10px;
    margin-top: -1px;
    position: relative;

    color: #353535;
  }
  .search-bar {
    width: 37%;
    margin-left: 15px;
    padding: 0;

    font-size: 1em;
    background-color: transparent;
    outline: none;
    border: none;

    &::placeholder {
      color: #353535;
      font-size: 1em;
      font-weight: 600;
    }
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  padding: 33px 15px 19px 25px;

  text-align: center;

  background-color: $grey;

  h1 {
    padding: 0px 15% 20px 12%;
    margin: auto;
  }

  p {
    padding: 13px 0px 20px 8px;
  }

  a {
    margin: 25px auto;
    padding: 14px 0px;
    width: fit-content;

    @include button-pink;
  }
}

.fonctionnement {
  padding: 41px 12px 42px 19px;

  background-color: $white;
  h2 {
    margin: 0;
    padding: 0px 0px 30px 0px;
  }

  .fonctionnement_mosaic {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .fonctionnement_bloc {
    font-size: 1em;
    font-weight: 500;

    @include div-squarred();

    .fonctionnement_numero {
      @include circle();

      span {
        font-size: 0.9em;
        color: white;
      }
    }
    i,
    .fonctionnement_bloc_text {
      margin: 0px 0px 0px 32px;
    }
    &:hover {
      background-color: #f5edff;

      & > i {
        color: $primary-color;
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 35px 12px 64px 12px;

  background-color: $grey;

  h2 {
    margin: 0;
    padding: 0px 0px 15px 0px;
  }

  .restaurants_mosaic_cards {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    border-radius: 15px;
    background-color: $white;
    @include box-shadow;

    img {
      height: 173px;
      object-fit: cover;

      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .restaurants_mosaic_newtag {
      z-index: 2;
      position: absolute;
      padding: 10px 10px 10px 10px;
      top: 13px;
      right: 11px;
      width: 79px;

      border-radius: 5px;
      background-color: #99e2d0;

      text-align: center;
      color: #008766;
    }
    .restaurants_mosaic_cards_text {
      padding: 15px 0px 15px 14px;
      margin: 0;
    }
    .cards_heart_container {
      position: absolute;
      bottom: 32px;
      right: 16px;
    }
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.5em;
  }

  .presentation {
    padding: 50px 19px 19px 21px;

    h1 {
      padding: 0px 15% 20px 12%;
    }

    p {
      padding: 13px 0px 15px 8px;
    }
  }

  .fonctionnement {
    .fonctionnement_bloc {
      font-size: 1.3em;

      .fonctionnement_numero {
        span {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .localisation {
    height: 50px;

    & i {
      margin-left: 170px;
    }

    .search-bar {
      width: 350px;
      padding: 0;

      font-size: 1.1em;

      &::placeholder {
        color: #353535;
        font-size: 1.1em;
      }
    }
  }

  .presentation {
    display: flex;
    flex-direction: column;
    padding: 50px 80px 50px;

    text-align: center;

    background-color: $grey;

    h1 {
      padding: 0px 15% 20px 12%;
    }

    p {
      padding: 13px 0px 15px 8px;
    }

    a {
      margin: 25px auto;
      padding: 14px 0px;
      width: fit-content;

      @include button-pink;
      font-size: 1.5em;
    }
  }

  .cards_heart_container {
    i {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.5em;
  }

  .principal-layout {
    display: flex;
    padding-top: 25px;
  }
  .localisation {
    height: 60px;

    & i {
      margin-left: 140px;

      font-size: 1.5em;
    }

    .search-bar {
      width: 350px;

      font-size: 1.2em;

      &::placeholder {
        color: #353535;
        font-size: 1.2em;
      }
    }
  }
  .asideLeft {
    width: 50%;
  }

  .presentation {
    padding: 41px 19px 19px 21px;
    background-color: white;

    & h1 {
      padding-bottom: 20px;
    }

    & p {
      padding-bottom: 20px;
    }

    & a {
      padding: 14px 20px;

      font-size: 1.3em;
    }
  }

  .asideRight {
    width: 50%;
  }

  .fonctionnement {
    padding: 41px 12px 42px 25px;
    margin: 0px 0px;

    background-color: $white;

    .fonctionnement_bloc {
      font-size: 1.3em;
      font-weight: 400;

      .fonctionnement_numero {
        span {
          font-size: 0.8em;
        }
      }
    }
  }
  .restaurants {
    &_mosaic {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .restaurants_mosaic_cards {
      width: 49%;

      img {
        height: 185px;
      }
      .restaurants_mosaic_newtag {
        width: 100px;
        span {
          font-size: 1.2em;
        }
      }

      .cards_heart_container {
        position: absolute;
        bottom: 32px;
        right: 25px;
        i {
          font-size: 1.7em;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .restaurants_mosaic_newtag {
    width: 125px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 22px;
  }

  span {
    font-size: 19px;
  }

  .principal-layout,
  .restaurants {
    max-width: 1650px;
    margin: 0 auto;
  }

  .principal-layout {
    justify-content: space-around;
    padding: 28px 100px;
  }
  .localisation {
    height: 60px;

    & i {
      margin-left: 90px;

      font-size: 22px;
    }

    .search-bar {
      padding-left: 19px;

      font-size: 26px;

      &::placeholder {
        font-size: 26px;
      }
    }
  }
  .asideLeft {
    width: 38%;
  }

  .presentation {
    a {
      font-size: 26px;
    }
    h1 {
      padding-bottom: 50px;
    }
    p {
      padding-bottom: 50px;
    }
  }

  .asideRight {
    width: 38%;
  }

  .fonctionnement {
    h2 {
      text-align: center;
    }

    .fonctionnement_bloc {
      font-size: 25px;
      font-weight: 400;
      width: 100%;

      & i {
        padding-left: 7%;
      }
      span {
        padding-left: 7%;
      }
    }
  }
  .restaurants {
    padding: 30px 40px;
    & h2 {
      padding: 0px 20px 20px;
    }

    .restaurants_mosaic_cards {
      width: 24%;
    }
  }
}
