h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

.localisation {
  display: flex;
  height: 46px;
  /*justify-content: center;
  align-items: center;*/

  background-color: $localisation-bar_background-color;
  &_bar {
    margin: 0 auto;
    padding: 15px 0;
  }
  & i {
    color: #353535;
  }
  .searchBar {
    padding: 0 0 0 15px;
    width: 150px;
    color: #353535;
    font-size: 1em;
    font-weight: 600;
    background-color: transparent;
    outline: none;
    border: none;
  }
}
.fonctionnement,
.presentation {
  padding: 41px 19px 42px 19px;
  display: flex;
  flex-direction: column;
}

.presentation {
  text-align: center;
  background-color: $grey;

  a {
    @include button-pink;
    font-size: 1rem;
  }
}

.fonctionnement {
  background-color: $white;

  .fonctionnement__mosaic__bloc {
    font-weight: 500;
    @include div-squarred(#f6f6f6);
    padding: 20px;
    margin: 25px auto;
    text-align: center;
    max-width: 350px;
    .icon__number {
      @include circle();

      span {
        font-size: 0.9em;
        color: white;
      }
    }
    .fonctionnement__text {
      i {
        margin: 0 32px 0 0;
      }
    }
    &:hover {
      background-color: #f5edff;

      & > i {
        color: $primary-color;
      }
    }
  }
}

.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 12px 64px 12px;

  background-color: $grey;

  h2 {
    margin: 0;
    padding: 0px 0px 15px 0px;
  }

  .restaurants__mosaic__cards {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    border-radius: 15px;
    background-color: $white;
    @include box-shadow;

    img {
      height: 173px;
      object-fit: cover;

      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .restaurants__cards__newtag {
      z-index: 2;
      position: absolute;
      padding: 10px 10px 10px 10px;
      top: 13px;
      right: 11px;
      width: 79px;

      border-radius: 5px;
      background-color: #99e2d0;

      text-align: center;
      color: #008766;
    }
    .restaurants__mosaic__cards__text {
      padding: 15px 0px 15px 14px;
      margin: 0;
    }
    .cards_heart_container {
      position: absolute;
      bottom: 32px;
      right: 16px;
    }
  }
}

@media screen and (min-width: 500px) {
  .aside__container {
    padding: 50px 19px 19px 21px;

    h1 {
      padding: 0px 15% 20px 12%;
    }

    p {
      padding: 13px 0px 15px 8px;
    }
  }
}

@media screen and (min-width: 650px) {
  .localisation {
    height: 50px;

    .searchBar {
      &::placeholder {
        color: #353535;
      }
    }
  }

  .cards_heart_container {
    i {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 800px) {
  .presentation__wrapper {
    display: flex;
    gap: 10px;
  }
  .presentation {
    background-color: white;
    margin: 35px 0 0 0;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .localisation {
    height: 60px;

    & i {
      margin-left: 140px;

      font-size: 1.5em;
    }

    .searchBar {
      width: 350px;

      font-size: 1.2em;

      &::placeholder {
        color: #353535;
        font-size: 1.2em;
      }
    }
  }
  .asideLeft {
    width: 50%;
  }

  .asideRight {
    width: 50%;
  }

  .restaurants {
    &__mosaic {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      &__cards {
        width: 49%;

        img {
          height: 185px;
        }
        .restaurants__cards__newtag {
          width: 100px;
          span {
            font-size: 1.2em;
          }
        }

        .cards_heart_container {
          position: absolute;
          bottom: 32px;
          right: 25px;
          i {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .restaurants__cards__newtag {
    width: 125px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 22px;
  }

  span {
    font-size: 19px;
  }

  .presentation__wrapper,
  .restaurants__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  .presentation__wrapper {
    justify-content: space-around;
    padding: 28px 100px;
  }
  .localisation {
    height: 60px;

    & i {
      margin-left: 90px;

      font-size: 22px;
    }

    .searchBar {
      padding-left: 19px;

      font-size: 26px;

      &::placeholder {
        font-size: 26px;
      }
    }
  }
  .asideLeft {
    width: 38%;
  }

  .aside__container {
    a {
      font-size: 26px;
    }
    h1 {
      padding-bottom: 50px;
    }
    p {
      padding-bottom: 50px;
    }
  }

  .asideRight {
    width: 38%;
  }

  .fonctionnement {
    h2 {
      text-align: center;
    }

    .fonctionnement__mosaic__bloc {
      font-weight: 400;
      width: 100%;
    }
  }
  .restaurants__wrapper {
    padding: 30px 40px;
    & h2 {
      padding: 0px 20px 20px;
    }

    .restaurants__mosaic__cards {
      width: 24%;
      margin-bottom: 0px;
    }
  }
}
