.card {
  z-index: 1;

  h1 {
    font-size: 1.6em;
  }

  &__img {
    height: 260px;
    object-fit: cover;
  }

  &__menu {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 30px 12px 57px 12px;
    margin-top: -50px;
    box-sizing: border-box;

    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: white;
  }

  &__topLine {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 8px;

    align-items: center;
    font-family: "Shrikhand";
  }

  &__categories {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;

    &__title {
      position: relative;
      margin: 0px 0px 25px 0px;
    }

    &__underline {
      position: absolute;
      width: 40px;
      bottom: -9px;

      border-top: 3px solid $third-color;
    }
  }
}

.bloc {
  /*principal bloc menu*/
  &__menu {
    z-index: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 9px;
    @include div-squarred(white);
    &__text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
  &__text__animation {
    @include text-area-layout;
    z-index: 3;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    transition: all 1s ease;
    overflow: hidden;
  }

  &__validation__animation {
    position: absolute;
    z-index: 2;
    right: -15%;
    text-align: center;
    background-color: $third-color;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 15%;
    height: 100%;
    transition: all 1s ease;

    .icon__animation {
      margin: 1.4rem auto 0 auto;
      font-size: 1.4rem;
      transition: all 1s ease;
      color: white;
    }
    input[type="checkbox"] {
      display: none;
    }
  }
}

.bloc__menu:hover {
  & .bloc {
    &__text__animation {
      width: 75%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &__validation__animation {
      border: none;
      right: 0%;
      width: 15%;
    }
  }
  & .icon__animation {
    display: block;
    margin: 1.4rem auto 0 auto;
    transform: rotate(2turn);
  }
}
.bloc__menu:nth-child(1n) {
  animation: slideInUp 0s;
}
.bloc__menu:nth-child(2n) {
  animation: slideInUp 0.75s;
}
.bloc__menu:nth-child(3n) {
  animation: slideInUp 1.4s;
}
.bloc__menu:nth-child(4n) {
  animation: slideInUp 2.1s;
}
.bloc__menu:nth-child(5n) {
  animation: slideInUp 2.85s;
}

@media screen and (min-width: 650px) {
  .card {
    h1 {
      font-size: 1.6em;
    }

    &__topLine {
      padding: 0px 20px 20px;
    }

    .line__layout {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-around;
    }
    &__categories {
      width: 49%;
      padding: 15px 0;
      &__title {
        margin: 0px 0px 40px 0px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .card {
    h1 {
      font-size: 1.9em;
    }
    img {
      height: 380px;
    }
    &__topLine {
      padding: 10px 30px 0px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .card {
    h1 {
      font-size: 2.2em;
    }
    img {
      height: 400px;
    }
    .order__button {
      font-size: 1.5em;
    }
    &__topLine {
      padding: 10px 40px;
    }
    .line__layout {
      gap: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .card {
    max-width: 1400px;
    margin: 0 auto;

    h1 {
      padding-right: 50px;
    }

    p {
      font-size: 19px;
    }
    img {
      height: 400px;
    }
    &__topLine {
      justify-content: flex-start;
    }

    &__categories {
      padding: 40px 0px 0px;
      width: 31%;
      &__title {
        margin: 0px 0px 40px 0px;
      }
    }
  }
  .bloc__validation__animation .icon__animation {
    margin: 1.3rem auto 0 auto;
    font-size: 1.5rem;
  }

  .bloc__menu:hover .bloc__validation__animation .icon__animation {
    margin: 1.3rem auto 0 auto;
  }
}
