.card {
  z-index: 1;

  h1 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  &_img {
    height: 260px;
    object-fit: cover;
  }

  &__menu {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 30px 12px 57px 12px;
    margin-top: -50px;
    box-sizing: border-box;

    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: white;
  }

  &__topLine {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 8px;

    align-items: center;
    font-family: "Shrikhand";
  }

  &__categories {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;

    &__title {
      position: relative;
      margin: 0px 0px 25px 0px;
    }

    &__underline {
      position: absolute;
      width: 40px;
      bottom: -9px;

      border-top: 3px solid $third-color;
    }
  }
}

.btn__menu__meals {
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 9px;
  @include div-squarred(white);
}
.typo__menu__price {
  margin: 20px 0 0 10px;
  background-color: yellow;
}
.bloc {
  &__menu__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__validation__animation {
    position: absolute;
    z-index: 2;
    right: -15%;
    text-align: center;
    background-color: $third-color;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 15%;
    height: 100%;
    transition: all 0.5s ease;

    .icon__animation {
      margin: 1.3rem auto 0 auto;
      font-size: 1.2rem;
      transition: all 0.5s ease;
      color: white;
    }
  }
}
.bloc__text__animation {
  z-index: 3;
  border-radius: 15px;
  background-color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.btn__menu__meals:hover .bloc__text__animation {
  width: 80.5%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn__menu__meals:hover {
  & .bloc__validation__animation {
    border: none;
    right: 0%;
    width: 15%;
  }
  & .icon__animation {
    display: block;
    margin: 1.3rem auto 0 auto;
    transform: rotate(3turn);
  }
}

.order__btn {
  @include button-pink;
  display: flex;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  display: none;
}

@media screen and (min-width: 500px) {
  .card {
    .fa-heart {
      font-size: 1.7em;
    }
  }
  .order__button {
    margin: 60px auto 35px;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 650px) {
  .card {
    h1 {
      font-size: 1.6em;
    }

    &__topLine {
      padding: 0px 20px;
    }
    .fa-heart {
      font-size: 1.9em;
    }
  }
}

@media screen and (min-width: 800px) {
  .card {
    h1 {
      font-size: 1.9em;
    }
    img {
      height: 380px;
    }
    &__topLine {
      padding: 10px 30px 0px;
    }
    &__categories {
      padding: 40px 15px 0px;
    }
    .fa-heart {
      font-size: 2em;
    }
  }
  .order__button {
    margin: 90px auto 35px;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    h1 {
      font-size: 2.2em;
    }
    img {
      height: 400px;
    }
    &__topLine {
      padding: 26px 40px 0px;
    }
    &__categories {
      padding: 40px 15px 0px;
      &__title {
        margin: 0px 0px 40px 0px;
      }
    }

    .fa-heart {
      font-size: 2.3em;
    }
  }
  .order__button {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    max-width: 1400px;
    margin: 0 auto;

    h1 {
      padding-right: 50px;
    }

    p {
      font-size: 19px;
    }
    img {
      height: 400px;
    }
    &__topLine {
      justify-content: flex-start;
    }
    .line__layout {
      display: flex;
      justify-content: space-around;
    }
    &__categories {
      padding: 40px 0px 0px;
      width: 31%;
      &__title {
        margin: 0px 0px 40px 0px;
      }
    }
  }

  .fa-heart {
    font-size: 2.3em;
  }
}
