.goback {
  position: absolute;
  top: 20px;
  left: 25px;

  color: #353535;
  font-size: 4.4vw;
}

.menu {
  z-index: 1;

  h1 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  &_img {
    height: 260px;
    object-fit: cover;
  }

  &_carte {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 30px 12px 57px 12px;
    margin-top: -60px;
    box-sizing: border-box;

    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: white;
  }

  &_carte-top-align {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 8px;

    align-items: center;
    font-family: "Shrikhand";
  }

  &_categories {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;

    &_title {
      position: relative;
      margin: 0px 0px 25px 0px;
    }

    &_underline {
      position: absolute;
      width: 40px;
      bottom: -9px;

      border-top: 3px solid $third-color;
    }
  }

  &_block {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 9px;

    overflow: hidden;

    border: none;
    background-color: $third-color;
    border-radius: 15px;
    @include box-shadow;

    animation: slideInUp 1.5s ease-out;

    &_text {
      z-index: 1;
      position: relative;
      display: flex;
      width: 100%;

      background-color: white;
      border-radius: 15px;

      transition: all 0.5s ease;

      &_plats {
        background-color: white;
        width: 83.5%;
        margin: 10px 10px;
        padding: 0;

        & h4,
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        & h4 {
          font-size: 1em;
        }

        & p {
          font-size: 0.87em;
        }
      }

      &_price {
        background-color: white;
        font-size: 0.9em;

        margin: 28px 10px 0 -5px;
      }
    }
  }

  .fa-check-circle {
    z-index: 2;
    margin: 6% 0 0 100%;
    position: absolute;

    text-align: right;
    color: white;
    font-size: 1.3em;

    transition: all 0.5s ease;
  }

  .menu_block:hover .menu_block_text {
    width: 85%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .menu_block:hover .fa-check-circle {
    margin: 6% 0 0 89%;
    transform: rotate(2turn);
  }

  &_button {
    @include button-pink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 40px;
    margin: 35px auto 15px auto;

    outline: none;
    border: none;
  }
}

input[type="checkbox"] {
  display: none;
}

@media screen and (min-width: 500px) {
  .goback {
    top: 17px;

    font-size: 4.2vw;
  }
  .menu {
    .fa-heart {
      font-size: 1.7em;
    }
    .fa-check-circle {
      margin: 4% 0 0 100%;

      font-size: 1.5em;
    }
    .menu_block:hover .fa-check-circle {
      margin: 4% 0 0 89.5%;
    }
    &_button {
      margin: 60px auto 35px;
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 650px) {
  .goback {
    top: 17px;

    font-size: 4.1vw;
  }
  .menu {
    h1 {
      font-size: 1.6em;
    }

    h4 {
      font-size: 1.2em;
    }

    p {
      font-size: 1.1em;
    }
    &_carte-top-align {
      padding: 0px 20px;
    }
    &_block_text_plats p {
      font-size: 1em;
    }
    .fa-heart {
      font-size: 1.9em;
    }
    .fa-check-circle {
      margin: 3% 0 0 100%;

      font-size: 1.6em;
    }
    .menu_block:hover .fa-check-circle {
      margin: 3% 0 0 90%;
    }
  }
}

@media screen and (min-width: 800px) {
  .goback {
    top: 23px;
    left: 35px;

    font-size: 4.1vw;
  }
  .menu {
    h1 {
      font-size: 1.9em;
    }

    h4 {
      font-size: 1.4em;
    }

    p {
      font-size: 1.3em;
    }
    img {
      height: 380px;
    }
    &_carte-top-align {
      padding: 10px 30px 0px;
    }
    &_categories {
      padding: 40px 15px 0px;
    }
    &_block_text_plats p {
      font-size: 1.2em;
    }
    .fa-heart {
      font-size: 2em;
    }
    .menu_block:hover .menu_block_text {
      width: 87%;
    }
    .menu_block:hover .fa-check-circle {
      margin: 3% 0 0 91.5%;
    }
    .fa-check-circle {
      margin: 3% 0 0 100%;

      font-size: 1.8em;
    }
    &_button {
      margin: 90px auto 35px;
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 1000px) {
  .goback {
    top: 18px;

    font-size: 3.8vw;
  }
  .menu {
    h1 {
      font-size: 2.2em;
    }

    h4 {
      font-size: 1.5em;
    }

    p {
      font-size: 1.5em;
    }
    img {
      height: 400px;
    }
    &_carte-top-align {
      padding: 26px 40px 0px;
    }
    &_categories {
      padding: 40px 15px 0px;
      &_title {
        margin: 0px 0px 40px 0px;
      }
    }
    &_block_text_plats p {
      font-size: 1.3em;
    }
    .menu_block:hover .menu_block_text {
      width: 89%;
    }
    .menu_block:hover .fa-check-circle {
      margin: 2.2% 0 0 92.5%;
    }
    .fa-check-circle {
      margin: 2.2% 0 0 100%;

      font-size: 2.1em;
    }
    .fa-heart {
      font-size: 2.3em;
    }
    &_button {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 1200px) {
  .goback {
    top: 18px;

    font-size: 40px;
  }
  .menu {
    max-width: 1650px;
    margin: 0 auto;
    h1 {
      font-size: 35px;
      margin: 0 50px 0 0;
    }

    h4 {
      font-size: 17px;
    }

    p {
      font-size: 19px;
    }
    img {
      height: 400px;
    }
    &_carte-top-align {
      justify-content: start;
    }

    .line-layout {
      display: flex;
      justify-content: space-around;
    }
    &_categories {
      padding: 40px 0px 0px;
      width: 31%;
      &_title {
        margin: 0px 0px 40px 0px;
      }
    }
    &_block_text {
      &_plats {
        p {
          font-size: 15px;
        }
      }
    }
    .menu_block:hover .menu_block_text {
      width: 85%;
    }
    .menu_block:hover .fa-check-circle {
      margin: 19px 0 0 89%;
    }
    .fa-check-circle {
      margin: 19px 0 0 100%;

      font-size: 25px;
    }
    .fa-heart {
      font-size: 2.3em;
    }
  }
}
