@keyframes slideInUp {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 25px 8px $third-color;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 25px 6px $secondary-color;
  }
}
