@mixin div-squarred-shadow{
    display: flex;
    justify-content: flex-start;
    background-color: $grey;
    margin: 0px 0px 26px 10px;
    height: 75px;
    width: 96.5%;
    border-radius: 25px;
    align-items: center;
    position: relative;
}

@mixin circle{
    position: absolute;
    background-color: $primary-color;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    left:-10px;
    text-align: center;
    line-height: 23px;
}

@mixin button-pink{
    background-color: $secondary-color;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    margin: auto;
}

@mixin valid{
        margin-left: 20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        background-color: $third-color;
        width: 19%;
}
@mixin valid-i{
    padding-top: 22px;
    color: white;

}