/*shadows variations*/
@mixin box-shadow {
  box-shadow: 1px 1px 14px 4px $shadow-light;
}
@mixin box-shadow-hover {
  box-shadow: 1px 1px 14px 4px $shadow-dark;
}
@mixin box-shadow-btn {
  box-shadow: 1px 1px 14px 4px $shadow-btn;
}
//------------------------------------
/*colors */
@mixin pink-violet {
  background: linear-gradient($secondary-color, $primary-color);
}

/*colors variation : lighten */
@mixin pink-violet-light(
  $colour1: color-lightnen($secondary-color),
  $colour2: color-lightnen($primary-color)
) {
  background: linear-gradient($colour1, $colour2);
}

//-----------------------------------
/*bloc customization variations*/
@mixin div-squarred($colour) {
  @include box-shadow;
  background-color: $colour;
  border-radius: 15px;
  cursor: pointer;
}

@mixin button-pink {
  @include pink-violet;
  @include box-shadow-btn;
  padding: 15px 20px;
  border-radius: 50px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
  margin: 35px auto;
}

@mixin gradient-color-icon {
  display: block;
  background: -webkit-linear-gradient($secondary-color, $primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-area-layout {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
