$localisation-bar_background-color: #eaeaea;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$grey: #f6f6f6;
$white: #ffffff;
$background-color: #dcdcdc;
$footer_background-color: #353535;

$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-btn: rgba(0, 0, 0, 0.3);

$shadow-dark: rgba(0, 0, 0, 0.4);
